# Build
bin/
obj/

# Rider
.idea/

# Visual Studio
.vs/

# User-specific
*.user
*.suo

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
secrets.json
**/appsettings.Development.json
**/appsettings.Local.json